<nav class="navbar">
  <div class="navi_container">
    <div class="navi_container_logo">
      <i class="zmdi zmdi-home material-icons-name"></i>
      <%= link_to 'ホーム', root_path, class: '' %>
    </div>
    <ul class="nav nav-right">
      <% if @current_user %>
          <li>
            <i class="zmdi zmdi-account material-icons-name"></i>
            <span class="text-white"><%= session[:user_name] %>様</span>
          </li>
          <li>
            <i class="zmdi zmdi-settings material-icons-name"></i>
            <%= link_to '設定ページ', settings_path, class: '' %>
          </li>
          <li>
            <i class="zmdi zmdi-square-right material-icons-name"></i>
            <%= link_to 'ログアウト', logout_path, method: :delete, class: 'n' %>
          </li>
      <% else %>
          <li><%= link_to 'アカウント登録', new_user_path, class: '' %></li>
          <li><%= link_to 'ログイン', root_path, class: '' %></li>
      <% end %>
    </ul>
  </div><!--/.navi_container-->
</nav><!--/.navbar-->
